<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Olimpiadas Distritales</title>
  <link rel="stylesheet" href="../css/principal.css">
  <script src="https://kit.fontawesome.com/f4286f5039.js" crossorigin="anonymous"></script>
  <script defer src="../js/principal.js"></script>
</head>
<body>
  <!-- Barra de navegacion -->
  <header class="header">
    <nav class="nav">
      <a href="#" class="logo nav-link">
        logotipo
      </a>
      <button class="nav-toggle" aria-label="Abrir">
        <i class="fa-solid fa-bars-staggered"></i>
      </button>
      <ul class="nav-menu">
        <li class="nav-menu-item">
          <a href="#" class="nav-menu-link nav-link">Inicio</a>
        </li>
        <li class="nav-menu-item">
          <a href="#" class="nav-menu-link nav-link">Información</a>
        </li>
        <li class="nav-menu-item">
          <a href="#" class="nav-menu-link nav-link">Registrarse</a>
        </li>
        <li class="nav-menu-item">
          <a href="#" class="nav-menu-link nav-link nav-menu-link-active">fin</a>
        </li>
      </ul>
    </nav>
  </header>
</body>
</html>